<!DOCTYPE html>
<html lang="en"> 
  <div class="container">
  <h2>Upload</h2>
     
    <div class="card-body ">
      <form action="/upload" method="post" enctype="multipart/form-data">
      <p class="card-text">Choose a file to upload it to AWS S3</p>
        <input type="file" name="file" value="file">
        <hr>
      <input type="submit" name="upload" value="Save" class="btn btn-success">
      </form>
    </div>
    <p style="font-family:verdana">
        {% for j in myresult %}
            <OPTION value={{j[0]}}>{{j[1]}}</OPTION>
        {% endfor %}
        </SELECT>
    </p>
  </div>
  <br>
</div>

</body>

</html>

